RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^\/?(.+)\/(.*)$ index.php?action=$1&page=$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^\/?(.+)$ index.php?action=$1 [QSA,L]